<div class="card" *ngFor="let User of Users">
  <div class="card-image waves-effect waves-block waves-light">
    <!-- <img class="activator" src="images/office.jpg"> -->
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><strong>Name: </strong> {{User.name}}<i class="material-icons right">more_vert</i></span>
    <p><strong>Username: </strong>{{User.username}}</p>
    <p><strong>Email: </strong><a href="#">{{User.email}}</a></p>
    <p><strong>Phone: </strong><a href="#">{{User.phone}}</a></p>
    <p><strong>WebSite: </strong><a href="#">{{User.website}}</a></p>
    <br>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
    <h5>Direccion</h5>
    <p><strong>Calle: </strong>{{User.address.street}}</p>
    <p><strong>Apartamento: </strong>{{User.address.suite}}</p>
    <p><strong>Ciudad: </strong>{{User.address.city}}</p>
    <p><strong>C.P.: </strong>{{User.address.zipcode}}</p>
    <br>
    <h5>Datos Laborales</h5>
    <p><strong>Empresa: </strong>{{User.company.name}}</p>
    <p><strong>Frase: </strong>{{User.company.catchPhrase}}</p>
    <p><strong>BS: </strong>{{User.company.bs}}</p>
  </div>
</div>
