<div class="row" style="align-self: center">
  <h2 class="header">Login</h2>
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="name" type="text" class="validate" [(ngModel)]="parametros.username" [ngModelOptions]="{standalone: true}" required>
                <label for="name">Username: {{parametros.username}}</label>
              </div>
            </div>
            <div class="row">
                <div class="waves-effect waves-light btn-large col s12" (click)="eventoLogear(); $event.preventDefault()">Ingresar</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
